<div class="jumbotron">
    <h1>Price watch created!</h1>
    <p class="lede">We have recorded the value to watch.</p>
    <p>We'll email you when the price changes, or if the web page changes and we're no longer able to watch the price.</p>
</div>