<h1 style="margin-bottom: 10px; font-size: 7.5rem; font-weight: bold;"><span style="font-family: 'Courgette'; font-weight: bolder">Price</span>Falcon</h1>
<p>PriceFalcon allows you to watch websites for price changes for items.</p>
<p>
    Once you submit a valid website URL we will crawl the page automatically and ask you to select the price you want to watch. When you have selected a price to watch
    we will automatically check the price every few hours and let you know if it changes.
</p>
<p>We require your email to sign-up in order to send you verification codes and alert you when the price changes.</p>

<img style="width: 100%" src="~/images/example-1.png" alt="An example of selecting a price to watch using PriceFalcon"/>