@{
}

<div class="jumbotron">
    <h1 class="display-4">Job link sent!</h1>
    <p class="lead">We sent a link to create a new PriceFalcon tracking job to your email address, open the link from your email to get started.</p>
</div>