<div class="jumbotron">
    <h1>Invite sent!</h1>
    <p class="lede">We sent an invite to your email address, open the link from your email to get started.</p>
    <p>Remember to check your spam folder if you didn't receive an invite. Once you have registered you can choose a web page to monitor.</p>
</div>