<div class="jumbotron">
    <h1>New job link sent!</h1>
    <p class="lede">We sent a link to create a new price watch job to your email address, open the link from your email to get started.</p>
    <p>Remember to check your spam folder if you didn't receive a link.</p>
</div>