@model PriceFalcon.Web.ViewModels.Home.IndexViewModel
@{
    Layout = "_RootLayout";
}

<div class="container">
        <main role="main" class="pb-3">
            <div style="height: 95vh; display: flex; align-items: center">
                <div style="width: 100%">
                    <div style="display: flex; margin-bottom: 50px; margin-top: -50px; justify-content: center">
                        <svg xmlns:svg="http://www.w3.org/2000/svg"
                             xmlns="http://www.w3.org/2000/svg"
                             width="74.568054mm"
                             height="74.568573mm"
                             viewBox="0 0 74.568054 74.568573"
                             version="1.1"
                             id="svg8">
                            <defs id="defs2" />
                            <g transform="translate(-42.629567,-21.915975)">
                                <g>
                                    <circle style="fill:#fffffb;fill-opacity:0.979757;stroke-width:0.264583"
                                            id="path854"
                                            cx="79.913597"
                                            cy="59.200264"
                                            r="35.546848" />
                                    <path id="path833"
                                          style="fill:#e11e60;fill-opacity:1;stroke-width:0.264583"
                                          d="m 79.913597,21.915975 c -20.591386,3.6e-5 -37.283993,16.692644 -37.28403,37.284029 -2.49e-4,20.591587 16.692443,37.284509 37.28403,37.284546 20.591583,-3.7e-5 37.284273,-16.692959 37.284023,-37.284546 -3e-5,-20.591385 -16.69264,-37.283991 -37.284023,-37.284029 z m 9.0873,5.479253 h 2.137854 c 0,0 -7.283074,7.884435 -8.485788,9.822137 -1.202714,1.937706 -2.705915,4.123997 -2.873208,6.48126 -0.237588,3.347707 0.929679,6.862256 2.739882,9.688296 0.758378,1.18396 3.207041,2.739884 3.207041,2.739884 l 10.69082,2.605527 c 0,0 1.154814,0.322059 2.385901,0.969965 1.099857,0.578842 1.088306,1.368909 1.088306,1.368909 0,0 -0.819878,1.004851 -1.379244,1.297596 -0.814107,0.426064 -2.696477,0.57309 -2.696477,0.57309 l -11.292335,0.401011 c 0,0 -2.109266,1.641115 -2.93987,2.672704 -0.951166,1.181325 -1.653093,2.557632 -2.271696,3.942395 -0.669351,1.498365 -1.560465,3.036332 -1.536859,4.677235 0.05381,3.740656 3.073564,9.688354 3.808555,10.556978 0.734989,0.868627 4.877737,6.414596 4.877737,6.414596 l -3.541385,-0.601515 c 0,0 -9.104018,-6.613416 -12.762013,-10.824662 -2.435346,-2.803678 -5.660993,-5.718461 -5.946923,-9.42113 -0.05607,-0.726059 0.488697,-1.383306 0.86868,-2.004528 0.767829,-1.2553 2.138376,-2.00438 2.806547,-3.407545 0.668176,-1.403165 0.06666,-2.739366 0.06666,-2.739366 0,0 -0.935296,-0.868992 -2.071192,-1.403533 -1.135896,-0.534537 -3.675227,-1.469678 -3.675227,-1.469678 l -0.868164,0.534334 c 0,0 -0.28729,-1.192406 0.08306,-1.778865 0.138697,-0.219628 0.785106,-0.693335 0.785106,-0.693335 0,0 0.172987,-0.645703 0.401008,-0.86868 1.597554,-1.562214 6.14743,-2.672705 6.14743,-2.672705 0,0 0.267012,-0.868272 0.33383,-1.93735 0.06682,-1.069078 -0.537139,-2.171097 -1.068671,-3.140893 -0.548375,-1.00053 -1.66261,-1.635678 -2.13837,-2.672707 -0.151133,-0.329425 -0.294349,-0.71859 -0.200504,-1.068668 0.965176,-3.600471 3.608318,-6.08036 7.283275,-8.485785 3.674957,-2.405425 16.036232,-9.554972 16.036232,-9.554972 z" />
                                </g>
                            </g>
                        </svg>

                    </div>
                    <div class="row">
                        <div class="ten columns offset-by-one">
                            <div style="display: flex; justify-items: center; text-align: center">
                                <div style="width: 100%">
                                    <h1 style="margin-bottom: 10px; font-size: 7.5rem; font-weight: bold;"><span style="font-family: 'Courgette'; font-weight: bolder">Price</span>Falcon</h1>
                                    <p class="lede">Monitor prices for any website and receive price change alerts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ten columns offset-by-one">
                            <form asp-action="Start">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label style="display: none" asp-for="Email" class="control-label"></label>
                                    <input id="front-page-email" asp-for="Email"
                                           type="email"
                                           placeholder="Your email address"
                                           required="required"
                                           class="u-full-width"
                                           title="We use this to send you price alerts and verification codes, we don't spam you"/>
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="button-primary u-pull-right">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }