@model PriceFalcon.Web.ViewModels.Home.IndexViewModel
@{
    Layout = "_RootLayout";
}

<div class="wrapper">
    <div id="region-half">
        <div id="lower-left-graph"></div>
        <div id="upper-right-graph"></div>
        <div id="mid-graph"></div>
    </div>
<div class="container">
    <a id="about-link" href="~/about" target="_blank">About</a>
    <main role="main" class="pb-3">
        <div style="height: 95vh; display: flex; align-items: center">
            <form style="margin: 0; width: 100%" asp-action="Start">
                <div id="form-container" style="width: 100%; position: relative; display: flex; flex-direction: column">
                    <div>
                        <div class="row">
                            <div class="ten columns offset-by-one">
                                <div style="display: flex; justify-items: center; text-align: center">
                                    <div style="width: 100%">
                                        <h1 style="margin-bottom: 10px; font-size: 7.5rem; font-weight: bold;"><span style="font-family: 'Courgette'; font-weight: bolder">Price</span>Falcon</h1>
                                        <p class="lede">Monitor prices for any website and receive price change alerts.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ten columns offset-by-one">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label style="display: none" asp-for="Email" class="control-label"></label>
                                    <input id="front-page-email" asp-for="Email"
                                           type="email"
                                           placeholder="email@@domain.com"
                                           required="required"
                                           class="u-full-width"
                                           title="We use this to send you price alerts and verification codes, we don't spam you" />
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" style="position: absolute; bottom: 10vh" class="button-primary">Register</button>
                </div>
            </form>
        </div>
    </main>
</div>
</div>


    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

        <script>
            function getOriginForId(id) {
                var rawL = $(id).css('left')
                var rawB = $(id).css('bottom')
                var left = rawL.substr(0, rawL.length - 2);
                var bottom = rawB.substr(0, rawB.length - 2);

                return [parseFloat(left), parseFloat(bottom)]
            }

            $(function () {
                var m = getOriginForId('#mid-graph')
                window.originLM = m[0]
                window.originBM = m[1];

                var l = getOriginForId('#lower-left-graph')
                window.originLL = l[0]
                window.originBL = l[1];

            })
            setInterval(function () {
                var rand = Math.random()
                var dir = rand > 0.5 ? 1 : -1;
                var newBottom = window.originBM + (Math.random() * (dir * 100))
                $('#mid-graph').css('bottom', newBottom + "px")

                newLeft = window.originLL + (Math.random() * (-dir * 100))
                $('#lower-left-graph').css('left', newLeft + "px")
            }, 5000)
        </script>
    }
