@model PriceFalcon.Web.ViewModels.Home.TrackDraftJobViewModel

<div id="track-container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <object type="image/svg+xml" class="track-status-icon" data="/images/star.svg" width="32"></object>
        </div>
        <div class="col-7">
            Job to crawl website (@Model.Website) was created.
        </div>
    </div>
    <div id="track-items-holder">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="lds-dual-ring"></div>
            </div>
            <div class="col-7">
                Your job will be picked up and processed by the next available worker.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function imageFor(link) {
            return "<object type='image/svg+xml' class='track-status-icon' data='" + link + "' width='32'></object>";
        }

        function displayForStatusItem(item) {
            var img = "";
            if (item.status === 2) {
                img = imageFor("/images/clock.svg");
            } else if (item.status === 3) {
                img = imageFor("/images/cloud-download.svg");
            } else if (item.status === 4) {
                img = imageFor("/images/circle-check.svg");
            }

            var status = "<div class='col-3'>" + img + "</div>";
            var message = "<div class='col-7'>" + item.message + "</div>";
            return "<div class='row'><div class='col-1'></div>" + status + message + "</div>";
        }

        function onTrackLoaded(data) {
            var completed = data.find(x => x.status === 4);
            var failed = data.find(x => x.status === 5);
            if (!!completed || !!failed) {
                clearInterval(document.price_falcon_timer);
            }

            var str = data.map(displayForStatusItem).join('');

            if (!completed && !failed) {
                str += "<div class='row'><div class='col-1'></div><div class='col-3'><div class='lds-dual-ring'></div></div>";
                str += "<div class='col-7'>Still processing.</div></div>";
            }

            if (!!completed) {
                str += "<a href='@Url.Action("SelectDraftJobItem", new { token = Model.Token })'>Next step</a>";
            }

            $("#track-items-holder").html(str);
        }

        $(function() {
            document.price_falcon_timer = setInterval(function() {
                    $.getJSON('/create/track/@Model.Token', onTrackLoaded);
                },
                1500);
        });
    </script>
}