@{
    Layout = "_RootLayout";
}

<nav>
    <div class="logo-section">
        <img src="~/images/logoinverted256.png" width="52" height="52"/>
        <a href="/">
            <span>Price</span>Falcon
        </a>
    </div>
    <div class="page-details">
        @await RenderSectionAsync("NavContent", false)
    </div>
</nav>
<div class="container">
    <main role="main" style="padding-top: 16px">
        @RenderBody()
    </main>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false);
}
