@model AdminEmailsListViewModel
@{
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Recipient</th>
        <th>Subject</th>
        <th>Body</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var email in Model.Emails)
    {
        <tr>
            <td>@email.Recipient</td>
            <td class="font-weight-bold">@email.Subject</td>
            <td>@Html.Raw(email.Body)</td>
            <td>@email.Created</td>
        </tr>
    }
    </tbody>
</table>
